<configuration version="28">
    <folder id="developer" label="XPS Home - Developer" path="/home/gilson/Developer/" type="sendreceive" rescanIntervalS="3600" fsWatcherEnabled="true" fsWatcherDelayS="10" ignorePerms="false" autoNormalize="true">
        <filesystemType>basic</filesystemType>
        <device id="4YJNFAM-4G2DSKZ-QAA76ZG-6TVF7TI-C2MOOVK-6KSIYZA-QQDN63U-VZCP7AT" introducedBy=""></device>
        <device id="7TFFUX3-64TZV4N-2OX63RI-IW2CG3M-7YHHZUZ-ORHTSHG-BMVIBV6-XAQNEAT" introducedBy=""></device>
        <minDiskFree unit="%">1</minDiskFree>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullerMaxPendingKiB>0</pullerMaxPendingKiB>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
        <markerName>.stfolder</markerName>
        <useLargeBlocks>true</useLargeBlocks>
        <copyOwnershipFromParent>false</copyOwnershipFromParent>
    </folder>
    <folder id="external-ssd-work-folder" label="SSD Externo - WORK" path="/media/gilson/BACKUP/WORK/" type="sendreceive" rescanIntervalS="3600" fsWatcherEnabled="true" fsWatcherDelayS="10" ignorePerms="false" autoNormalize="true">
        <filesystemType>basic</filesystemType>
        <device id="4YJNFAM-4G2DSKZ-QAA76ZG-6TVF7TI-C2MOOVK-6KSIYZA-QQDN63U-VZCP7AT" introducedBy=""></device>
        <device id="7TFFUX3-64TZV4N-2OX63RI-IW2CG3M-7YHHZUZ-ORHTSHG-BMVIBV6-XAQNEAT" introducedBy=""></device>
        <minDiskFree unit="%">1</minDiskFree>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullerMaxPendingKiB>0</pullerMaxPendingKiB>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
        <markerName>.stfolder</markerName>
        <useLargeBlocks>true</useLargeBlocks>
        <copyOwnershipFromParent>false</copyOwnershipFromParent>
    </folder>
    <folder id="google-drive" label="XPS Home - Drive" path="/home/gilson/Drive" type="sendreceive" rescanIntervalS="3600" fsWatcherEnabled="true" fsWatcherDelayS="10" ignorePerms="false" autoNormalize="true">
        <filesystemType>basic</filesystemType>
        <device id="4YJNFAM-4G2DSKZ-QAA76ZG-6TVF7TI-C2MOOVK-6KSIYZA-QQDN63U-VZCP7AT" introducedBy=""></device>
        <device id="7TFFUX3-64TZV4N-2OX63RI-IW2CG3M-7YHHZUZ-ORHTSHG-BMVIBV6-XAQNEAT" introducedBy=""></device>
        <minDiskFree unit="%">1</minDiskFree>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullerMaxPendingKiB>0</pullerMaxPendingKiB>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
        <markerName>.stfolder</markerName>
        <useLargeBlocks>true</useLargeBlocks>
        <copyOwnershipFromParent>false</copyOwnershipFromParent>
    </folder>
    <folder id="home-xps-documents" label="XPS Home - Documentos" path="/home/gilson/Documents/" type="sendreceive" rescanIntervalS="3600" fsWatcherEnabled="true" fsWatcherDelayS="10" ignorePerms="false" autoNormalize="true">
        <filesystemType>basic</filesystemType>
        <device id="4YJNFAM-4G2DSKZ-QAA76ZG-6TVF7TI-C2MOOVK-6KSIYZA-QQDN63U-VZCP7AT" introducedBy=""></device>
        <device id="7TFFUX3-64TZV4N-2OX63RI-IW2CG3M-7YHHZUZ-ORHTSHG-BMVIBV6-XAQNEAT" introducedBy=""></device>
        <minDiskFree unit="%">1</minDiskFree>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullerMaxPendingKiB>0</pullerMaxPendingKiB>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
        <markerName>.stfolder</markerName>
        <useLargeBlocks>true</useLargeBlocks>
        <copyOwnershipFromParent>false</copyOwnershipFromParent>
    </folder>
    <folder id="home-xps-downloads" label="XPS Home - Downloads" path="/home/gilson/Downloads/" type="sendreceive" rescanIntervalS="3600" fsWatcherEnabled="true" fsWatcherDelayS="10" ignorePerms="false" autoNormalize="true">
        <filesystemType>basic</filesystemType>
        <device id="4YJNFAM-4G2DSKZ-QAA76ZG-6TVF7TI-C2MOOVK-6KSIYZA-QQDN63U-VZCP7AT" introducedBy=""></device>
        <device id="7TFFUX3-64TZV4N-2OX63RI-IW2CG3M-7YHHZUZ-ORHTSHG-BMVIBV6-XAQNEAT" introducedBy=""></device>
        <minDiskFree unit="%">1</minDiskFree>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullerMaxPendingKiB>0</pullerMaxPendingKiB>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
        <markerName>.stfolder</markerName>
        <useLargeBlocks>true</useLargeBlocks>
        <copyOwnershipFromParent>false</copyOwnershipFromParent>
    </folder>
    <folder id="home-xps-musics" label="XPS Home - Musicas" path="/home/gilson/Music/" type="sendreceive" rescanIntervalS="3600" fsWatcherEnabled="true" fsWatcherDelayS="10" ignorePerms="false" autoNormalize="true">
        <filesystemType>basic</filesystemType>
        <device id="4PWM5R7-Y4ARKM3-UAYJI6F-D2NFX4O-4QKOSUN-NVVKMFU-W2V6XT7-Q5PYQQB" introducedBy=""></device>
        <device id="4YJNFAM-4G2DSKZ-QAA76ZG-6TVF7TI-C2MOOVK-6KSIYZA-QQDN63U-VZCP7AT" introducedBy=""></device>
        <device id="7TFFUX3-64TZV4N-2OX63RI-IW2CG3M-7YHHZUZ-ORHTSHG-BMVIBV6-XAQNEAT" introducedBy=""></device>
        <minDiskFree unit="%">1</minDiskFree>
        <versioning></versioning>
        <copiers>0</copiers>
        <pullerMaxPendingKiB>0</pullerMaxPendingKiB>
        <hashers>0</hashers>
        <order>random</order>
        <ignoreDelete>false</ignoreDelete>
        <scanProgressIntervalS>0</scanProgressIntervalS>
        <pullerPauseS>0</pullerPauseS>
        <maxConflicts>10</maxConflicts>
        <disableSparseFiles>false</disableSparseFiles>
        <disableTempIndexes>false</disableTempIndexes>
        <paused>false</paused>
        <weakHashThresholdPct>25</weakHashThresholdPct>
        <markerName>.stfolder</markerName>
        <useLargeBlocks>true</useLargeBlocks>
        <copyOwnershipFromParent>false</copyOwnershipFromParent>
    </folder>
    <device id="4PWM5R7-Y4ARKM3-UAYJI6F-D2NFX4O-4QKOSUN-NVVKMFU-W2V6XT7-Q5PYQQB" name="S20 FE" compression="metadata" introducer="false" skipIntroductionRemovals="false" introducedBy="">
        <address>dynamic</address>
        <paused>false</paused>
        <autoAcceptFolders>false</autoAcceptFolders>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <maxRequestKiB>0</maxRequestKiB>
    </device>
    <device id="4YJNFAM-4G2DSKZ-QAA76ZG-6TVF7TI-C2MOOVK-6KSIYZA-QQDN63U-VZCP7AT" name="NAS Server" compression="metadata" introducer="false" skipIntroductionRemovals="false" introducedBy="">
        <address>dynamic</address>
        <paused>false</paused>
        <autoAcceptFolders>false</autoAcceptFolders>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <maxRequestKiB>0</maxRequestKiB>
    </device>
    <device id="7TFFUX3-64TZV4N-2OX63RI-IW2CG3M-7YHHZUZ-ORHTSHG-BMVIBV6-XAQNEAT" name="pop-os" compression="metadata" introducer="false" skipIntroductionRemovals="false" introducedBy="">
        <address>dynamic</address>
        <paused>false</paused>
        <autoAcceptFolders>false</autoAcceptFolders>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <maxRequestKiB>0</maxRequestKiB>
    </device>
    <gui enabled="true" tls="false" debugging="false">
        <address>127.0.0.1:8384</address>
        <apikey>mVpNLgYfkchrH6bLanv3eNuyobQPrd4r</apikey>
        <theme>dark</theme>
    </gui>
    <ldap></ldap>
    <options>
        <listenAddress>default</listenAddress>
        <globalAnnounceServer>default</globalAnnounceServer>
        <globalAnnounceEnabled>true</globalAnnounceEnabled>
        <localAnnounceEnabled>true</localAnnounceEnabled>
        <localAnnouncePort>21027</localAnnouncePort>
        <localAnnounceMCAddr>[ff12::8384]:21027</localAnnounceMCAddr>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <reconnectionIntervalS>60</reconnectionIntervalS>
        <relaysEnabled>true</relaysEnabled>
        <relayReconnectIntervalM>10</relayReconnectIntervalM>
        <startBrowser>true</startBrowser>
        <natEnabled>true</natEnabled>
        <natLeaseMinutes>60</natLeaseMinutes>
        <natRenewalMinutes>30</natRenewalMinutes>
        <natTimeoutSeconds>10</natTimeoutSeconds>
        <urAccepted>3</urAccepted>
        <urSeen>3</urSeen>
        <urUniqueID>N9tX4dcG</urUniqueID>
        <urURL>https://data.syncthing.net/newdata</urURL>
        <urPostInsecurely>false</urPostInsecurely>
        <urInitialDelayS>1800</urInitialDelayS>
        <restartOnWakeup>true</restartOnWakeup>
        <autoUpgradeIntervalH>12</autoUpgradeIntervalH>
        <upgradeToPreReleases>false</upgradeToPreReleases>
        <keepTemporariesH>24</keepTemporariesH>
        <cacheIgnoredFiles>false</cacheIgnoredFiles>
        <progressUpdateIntervalS>5</progressUpdateIntervalS>
        <limitBandwidthInLan>false</limitBandwidthInLan>
        <minHomeDiskFree unit="%">1</minHomeDiskFree>
        <releasesURL>https://upgrades.syncthing.net/meta.json</releasesURL>
        <overwriteRemoteDeviceNamesOnConnect>false</overwriteRemoteDeviceNamesOnConnect>
        <tempIndexMinBlocks>10</tempIndexMinBlocks>
        <trafficClass>0</trafficClass>
        <defaultFolderPath>~</defaultFolderPath>
        <setLowPriority>true</setLowPriority>
        <maxConcurrentScans>0</maxConcurrentScans>
    </options>
</configuration>
